<br>
<div class="row justify-content-center">
    <div class="col-6">
        <h2 class="text-center">Registro de Usuario</h2>
        <div>
            <div class="form-group">
                <label for="nombresUsuario">Nombres</label>
                <input type="text" id="nombresUsuario" [(ngModel)]="nombre" class="form-control" placeholder="nombres">
            </div>
            <div class="form-group">
                <label for="apellidosUsuario">Apellidos</label>
                <input type="text" id="apellidosUsuario" [(ngModel)]="apellidos" class="form-control" placeholder="apellidos">
            </div>
            <div class="form-group">
                <label for="emailUsuario">Email</label>
                <input type="email" id="emailUsuario" [(ngModel)]="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="passwordUsuario">Password</label>
                <input type="password" id="passwordUsuario" [(ngModel)]="password" minlength="8" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="opcionesCargos">Cargo:</label>
                <select  id="opcionesCargos" [(ngModel)]="opcionSelecionada" class="form-control">
                    <option value="0">Selecciona una opción</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Empleador">Empleador</option>
                    <option value="Solicitante">Solicitante</option>
                </select>
            </div>
            <button type="button" (click)="insertar()" class="btn btn-info">Enviar</button>
        </div>
    </div>
</div>