<br>
<div *ngIf="!listCiudades" class="text-center"> 
    <img  alt="" src="../../../assets/img/tenor.gif">
    <!--<i class="fa fa-circle-o-notch fa-spin"></i>-->
</div>
<div *ngIf="listCiudades" class="row justify-content-center">
    <div class="col-10">
        <h2 class="text-center">Lista de Ciudades</h2><br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody  *ngFor="let item of listCiudades; let indece=index" >
                <tr>
                    <th scope="row">{{indece + 1}}</th>
                    <td>{{item.nombre}}</td>
                    <td>
                        <button class='btn btn-primary' [routerLink] = "['/ciudad', item.id]">
                            <i class='fa fa-edit'></i></button>
                        <button class='btn btn-danger'>
                            <i class='fa fa-trash' (click)="eliminar(item.id)"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
